.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    background-color: #B19CD9;
    color: white;
    text-align: center;
  }
  
  .title {
    font-size: 1;
    font-weight: bold;
  }